selector .super-speedy-search-form {
  max-width: 700px !important;
  margin: 0 auto !important;
  border: 0 !important;
}

selector .super-speedy-searchform {
  background: #fff !important;
  border-radius: 24px !important;
  overflow: hidden !important;
  border: 1px solid #fff !important;
}

selector .sssinputwrapper {
  align-items: center !important;
}

selector .ssstext {
  border: none !important;
  background: transparent !important;
}

selector .sssresetwrapper {
  display: none !important;
  margin-right: 0.7rem !important;
}

selector .ssstext:not(:placeholder-shown) ~ .sssresetwrapper {
  display: flex !important;
}

selector .sss_clear_button {
  min-width: auto !important;
  background: none !important;
}

selector .sss_search_button {
  background: #f26a1b !important;
  height: 48px !important;
}

selector .wpi-sss-icon-search,
selector .wpi-sss-icon-clear {
  width: 20px !important;
  height: 20px !important;
  display: block !important;
}

selector .sssresults .sss_suggestions_container .sss_list_header,
selector .sssresults ul.sss-suggestions {
  display: none !important;
}
